body {
  padding: 50px;
  font-family: 'Times New Roman', Times, serif;
  background-color: red;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #00B7FF;
}
